<h1>FILTROS AQUÍ</h1>

@if (bebidas.length === 0) {
  <p>No hay bebidas disponibles</p>
}
@else {
    
  <div class="listaBebidas">
    @for (bebida of bebidas; track $index) {
      <app-drink-card
        [bebida]="bebida"
        [esAdmin]="esAdmin()"
        (editar)="editarBebida($event)"
        (eliminar)="eliminarBebida($event)"
        (verDetalle)="verDetalle($event)"
        (aumentarStock)="aumentarStock($event.bebida, $event.cantidad)"
        (decrementarStock)="decrementarStock($event.bebida, $event.cantidad)">
      </app-drink-card>
    }
  </div>
}