<div class="barraBusqueda">
  <input
    type="text"
    placeholder="Buscar por nombre, categoría o marca..."
    [(ngModel)]="terminoBusqueda"
    (input)="filtrarBebidas()"
  />
</div>


@if (bebidas.length === 0) {
  <p>No hay bebidas disponibles</p>
}
@else {
    
  <div class="listaBebidas">
    @for (bebida of bebidasFiltradas; track $index) {
      <app-drink-card
        [bebida]="bebida"
        [esAdmin]="esAdmin()"
        [idUser]="idUsuarioLogueado"
        (bebidaActualizada)="obtenerBebidas()">
      </app-drink-card>
    }
  </div>
}