<div class="cardBebida">
  <h2>{{ bebida.name }}</h2>

  <div class="contenedorImagen">
    <img [src]="bebida.imageUrl" alt="Imagen bebida">
  </div>

  <h3>{{ bebida.category }}</h3>
  <h4>{{ bebida.brand }}</h4>
  <h5>Unidades en stock: {{ bebida.stock }}</h5>

  @if (esAdmin) {
    <button class="editar" (click)="editarBebida(bebida.id)">Editar</button>
    <button class="eliminar" (click)="eliminarBebida(bebida.id)">Eliminar</button>
    <button class="detalle" (click)="verDetalle(bebida.id)">Ver detalle</button>
  }
  @else {
    <button class="detalle" (click)="verDetalle(bebida.id)">Ver detalle</button>
  }

  <!-- FORM INGRESO -->
  <form [formGroup]="formIngreso" (ngSubmit)="aumentarStock(bebida, formIngreso.value.cantidadIngreso)">
    <div class="form-group">
      <label>Agregar stock</label>
      <div class="input-group">
        <input type="number" formControlName="cantidadIngreso" placeholder="Ingrese la cantidad">
        <button type="submit" [disabled]="formIngreso.invalid">+</button>
      </div>

      <small *ngIf="formIngreso.get('cantidadIngreso')?.invalid && formIngreso.get('cantidadIngreso')?.touched" class="error">
        Ingrese una cantidad válida mayor a 0.
      </small>
    </div>
  </form>

  <!-- FORM EGRESO -->
  <form [formGroup]="formEgreso" (ngSubmit)="decrementarStock(bebida, formEgreso.value.cantidadEgreso)">
    <div class="form-group">
      <label>Quitar stock</label>
      <div class="input-group">
        <input type="number" formControlName="cantidadEgreso" placeholder="Ingrese la cantidad">
        <button type="submit" [disabled]="formEgreso.invalid || formEgreso.value.cantidadEgreso > bebida.stock">-</button>
      </div>

      <!-- Validación cantidad vacía o inválida -->
      <small *ngIf="formEgreso.get('cantidadEgreso')?.invalid && formEgreso.get('cantidadEgreso')?.touched" class="error">
        Ingrese una cantidad válida mayor a 0.
      </small>

      <!-- Validación cantidad mayor al stock -->
      <small *ngIf="formEgreso.value.cantidadEgreso > bebida.stock" class="error">
        La cantidad supera el stock disponible ({{ bebida.stock }} unidades).
      </small>
    </div>
  </form>
</div>
