/* === CONTENEDOR PRINCIPAL === */
.bebidas-container {

  position: relative;
  min-height: calc(100vh - 160px);
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  justify-content: flex-start;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.02);
  color: var(--color-texto);
}

/* === ENCABEZADO === */
.bebidas-header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-bottom: 1.5rem;
}

.bebidas-header h2 {
  color: #1c1c1c;
  font-size: 2rem;
  margin: 0;
}

/* === TABLA DE BEBIDAS === */
.tabla-bebidas {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
}

/* CABECERA DE TABLA */
.tabla-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  background-color: #1c1c1c;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 1rem 0;
}

/* FILAS DE TABLA */
.tabla-fila {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* mismo número de columnas */
  align-items: center;
  text-align: center;
  background-color: #1c1c1c;
  color: #fff;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tabla-fila:hover {
  background-color: var(--color-primario);
  color: #000;
}

.stock-bajo {
  width: 30%;
  margin: 0 auto;
  background-color: red; 
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  font-weight: 600;
  align-items: center;
}

.pdf {
  margin-bottom: 1.25rem;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 20px;
  background-color: #f47227;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pdf:hover {
  background-color: #ff8c32;
  transform: scale(1.05);
}


