<div class="edit-user-form-container">

  <!-- Formulario Editar -->
  <form *ngIf="estoyEnEditar()" [formGroup]="editUserForm" (ngSubmit)="agregarNuevoUsuario()">
    <h2>Editar Usuario</h2>
    <!-- Username -->
    <div class="form-group">
      <label for="username">Nombre de usuario</label>
      <input type="text" id="username" formControlName="username" placeholder="Ingrese nombre de usuario" />
      <small *ngIf="editUserForm.get('username')?.invalid && editUserForm.get('username')?.touched" class="error">
        El nombre de usuario es requerido.
      </small>
    </div>

    <!-- Password -->
    <div class="form-group password-group">
      <label for="password">Contraseña</label>
      <div class="password-wrapper">
        <input [type]="mostrarPassword ? 'text' : 'password'" id="password" formControlName="password" placeholder="Ingrese contraseña" />
        <i class="fa" [ngClass]="mostrarPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="mostrarPassword = !mostrarPassword"></i>
      </div>
      <small *ngIf="editUserForm.get('password')?.invalid && editUserForm.get('password')?.touched" class="error">
        La contraseña es requerida.
      </small>
    </div>

    <!-- Perfil -->
    <div class="form-group">
      <label for="profile">Perfil</label>
      <select id="profile" formControlName="profile">
        <option value="admin">Admin</option>
        <option value="usuario">Empleado</option>
      </select>
    </div>

    <!-- Botones -->
    <div class="form-buttons">
      <button type="submit" [disabled]="editUserForm.invalid" class="addBtn">Guardar Cambios</button>
      <button type="button" class="cancel" (click)="back()">Volver Atrás</button>
    </div>
  </form>

  <!-- Formulario Agregar -->
  <form *ngIf="estoyEnAgregar()" [formGroup]="newUserForm" (ngSubmit)="agregarNuevoUsuario()">
    <h2>Agregar Usuario</h2>
    <!-- Username -->
    <div class="form-group">
      <label for="usernameNew">Nombre de usuario</label>
      <input type="text" id="usernameNew" formControlName="username" placeholder="Ingrese nombre de usuario" />
      <small *ngIf="newUserForm.get('username')?.invalid && newUserForm.get('username')?.touched" class="error">
        El nombre de usuario es requerido.
      </small>
    </div>

    <!-- Password -->
    <div class="form-group password-group">
      <label for="passwordNew">Contraseña</label>
      <div class="password-wrapper">
        <input [type]="mostrarPassword ? 'text' : 'password'" id="passwordNew" formControlName="password" placeholder="Ingrese contraseña" />
        <i class="fa" [ngClass]="mostrarPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="mostrarPassword = !mostrarPassword"></i>
      </div>
      <small *ngIf="newUserForm.get('password')?.invalid && newUserForm.get('password')?.touched" class="error">
        La contraseña es requerida.
      </small>
    </div>

    <!-- Perfil -->
    <div class="form-group">
      <label for="profileNew">Perfil</label>
      <select id="profileNew" formControlName="profile">
        <option value="admin">Admin</option>
        <option value="usuario">Empleado</option>
      </select>
    </div>

    <!-- Botones -->
    <div class="form-buttons">
      <button type="submit" [disabled]="newUserForm.invalid" class="addBtn">Agregar Usuario</button>
      <button type="button" class="cancel" (click)="back()">Volver Atrás</button>
    </div>
  </form>

</div>