.reports-grid{

  display: grid;
  gap: 10rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  padding: 50px;
  max-width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--color-negro);
  color: white;
  border-radius: 20px;
  font-size: 1.5rem;
}

