<div class="login-container">
  <div class="login-box">
    <img [src]="logoUrl" alt="Logo Mirador" class="logo" />

    <h2 class="titulo">Sistema de gestión de stock</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

      <!-- Username -->
      <div class="input-group">
        <input
          type="text"
          formControlName="username"
          placeholder="Username"
          class="form-control"
        />
        <p class="error-text" *ngIf="f.username.touched && f.username.invalid">
          El nombre de usuario es requerido
        </p>
      </div>

      <!-- Password -->
      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="form-control"
        />
        <p class="error-text" *ngIf="f.password.touched && f.password.invalid">
          La contraseña es requerida
        </p>
      </div>

      <button type="submit" class="btn-login" [disabled]="loginForm.invalid">
        Ingresar
      </button>
    </form>
  </div>
</div>
