:root {
  --header-h: 90px;
  --footer-h: 70px;
  --sidebar-w: 250px;
}

.layout-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-fondo);
  overflow: hidden;
}

/* HEADER */
.headerContainer {
  height: var(--header-h);
  background: var(--color-naranja);
  color: var(--color-blanco);
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

/* FOOTER */
.footerContainer {
  height: var(--footer-h);
  background: var(--color-naranja);
  color: var(--color-blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

/* SIDEBAR */
.sidebarContainer {
  width: var(--sidebar-w);
  background: var(--color-negro);
  color: var(--color-blanco);
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.25);
}

/* MAIN */
.mainContainer {
  background: #fff;
  padding: 2rem 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  :root {
    --sidebar-w: 0;
  }

  .sidebarContainer {
    display: none;
  }

  .mainContainer {
    width: 100%;
    padding: 1.5rem 1rem;
  }
}
