<div class="drink-form-container">

  

  <!-- Formulario Editar -->
  @if (estoyEnEditar()) {

  <h2>Editar Bebida</h2>
  <form [formGroup]="editBebidaForm" (ngSubmit)="onSubmitEditar()">

    <!-- Nombre -->
    <div class="form-group">
      <label for="name">Nombre de la bebida</label>
      <input type="text" id="name" formControlName="name" placeholder="Ingrese nombre de la bebida" />
      <small *ngIf="name?.invalid && name?.touched" class="error">
        El nombre es requerido.
      </small>
    </div>

    <!-- Tipo -->
    <div class="form-group">
      <label for="type">Tipo de bebida</label>
      <select id="type" formControlName="type">
        <option value="Con alcohol">Con alcohol</option>
        <option value="Sin alcohol">Sin alcohol</option>
        <option value="Ninguna">Ninguna</option>
      </select>
    </div>

    <!-- Categoría -->
    <div class="form-group">
      <label for="category">Categoría</label>
      <select id="category" formControlName="category">
        <option value="Agua">Agua</option>
        <option value="Agua con gas">Agua con gas</option>
        <option value="Agua saborizada">Agua saborizada</option>
        <option value="Gaseosa">Gaseosa</option>
        <option value="Energizante">Energizante</option>
        <option value="Jugo">Jugo</option>
        <option value="Cerveza">Cerveza</option>
        <option value="Vino">Vino</option>
        <option value="Licor">Licor</option>
        <option value="Whisky">Whisky</option>
        <option value="Ron">Ron</option>
        <option value="Vodka">Vodka</option>
        <option value="Téquila">Téquila</option>
        <option value="Champagne">Champagne</option>
        <option value="Cachaca">Cachaca</option>
        <option value="Granadina">Granadina</option>
        <option value="Gin">Gin</option>
        <option value="Aperitivo">Aperitivo</option>
        <option value="Otro">Otro</option>
        <option value="Ninguna">Ninguna</option>
      </select>
    </div>

    <!-- Marca -->
    <div class="form-group">
      <label for="brand">Marca</label>
      <input type="text" id="brand" formControlName="brand" placeholder="Ingrese marca" />
      <small *ngIf="brand?.invalid && brand?.touched" class="error">
        La marca es requerida.
      </small>
    </div>

    <!-- Mililitros -->
    <div class="form-group">
      <label for="milliliters">Mililitros</label>
      <input type="number" id="milliliters" formControlName="milliliters" placeholder="Ingrese cantidad en ml" />
      <small *ngIf="milliliters?.invalid && milliliters?.touched" class="error">
        La cantidad es requerida y debe ser mayor a 0.
      </small>
    </div>

    <!-- Contenido de alcohol -->
    <div class="form-group">
    <label for="alcoholContent">Contenido de alcohol (%)</label>
    <input type="number" id="alcoholContent" formControlName="alcoholContent" placeholder="Opcional" />
    <small *ngIf="alcoholContent?.invalid && alcoholContent?.touched" class="error">
        El contenido de alcohol es requerido y debe ser mayor a 0.
    </small>
    </div>

    <!-- Precio -->
    <div class="form-group">
    <label for="price">Precio</label>
    <input type="number" id="price" formControlName="price" placeholder="Ingrese precio" />
    <small *ngIf="price?.invalid && price?.touched" class="error">
        El precio es requerido y debe ser mayor a 0.
    </small>
    </div>

    <!-- Stock -->
    <div class="form-group">
    <label for="stock">Stock</label>
    <input type="number" id="stock" formControlName="stock" placeholder="Ingrese cantidad disponible" />
    <small *ngIf="stock?.invalid && stock?.touched" class="error">
        El stock es requerido y debe ser mayor o igual a 0.
    </small>
    </div>

    <div class="form-group">
    <label for="imageUrl">Imagen (URL)</label>
    <input type="url" id="imageUrl" formControlName="imageUrl" placeholder="Ingrese URL de la imagen" />
    <small *ngIf="imageUrl?.invalid && imageUrl?.touched" class="error">
        Debe ingresar una URL válida que termine en .jpg, .jpeg, .png o .gif.
    </small>
    </div>

    <!-- Botones -->
    <div class="form-buttons">
    <button type="submit" [disabled]="editBebidaForm.invalid" class="editBtn">Guardar Cambios</button>
    <button type="button" class="cancel" (click)="back()">Volver Atrás</button>
    </div>

  </form>
  }

  <!-- Formulario Agregar -->
  @else if (estoyEnAgregar()) {

  <h2>Agregar Bebida</h2>
  <form [formGroup]="newBebidaForm" (ngSubmit)="onSubmitAgregar()">

    <!-- Nombre -->
    <div class="form-group">
    <label for="name">Nombre de la bebida</label>
    <input type="text" id="name" formControlName="name" placeholder="Ingrese nombre de la bebida" />
    <small *ngIf="newName?.invalid && newName?.touched" class="error">
        El nombre es requerido.
    </small>
    </div>

    <!-- Tipo -->
    <div class="form-group">
    <label for="type">Tipo de bebida</label>
    <select id="type" formControlName="type">
        <option value="Con alcohol">Con alcohol</option>
        <option value="Sin alcohol">Sin alcohol</option>
        <option value="Ninguna">Ninguna</option>
    </select>
    </div>

    <!-- Categoría -->
    <div class="form-group">
    <label for="category">Categoría</label>
    <select id="category" formControlName="category">
        <option value="Agua">Agua</option>
        <option value="Agua con gas">Agua con gas</option>
        <option value="Agua saborizada">Agua saborizada</option>
        <option value="Gaseosa">Gaseosa</option>
        <option value="Energizante">Energizante</option>
        <option value="Jugo">Jugo</option>
        <option value="Cerveza">Cerveza</option>
        <option value="Vino">Vino</option>
        <option value="Licor">Licor</option>
        <option value="Whisky">Whisky</option>
        <option value="Ron">Ron</option>
        <option value="Vodka">Vodka</option>
        <option value="Téquila">Téquila</option>
        <option value="Champagne">Champagne</option>
        <option value="Cachaca">Cachaca</option>
        <option value="Granadina">Granadina</option>
        <option value="Gin">Gin</option>
        <option value="Aperitivo">Aperitivo</option>
        <option value="Otro">Otro</option>
        <option value="Ninguna">Ninguna</option>
    </select>
    </div>

    <!-- Marca -->
    <div class="form-group">
    <label for="brand">Marca</label>
    <input type="text" id="brand" formControlName="brand" placeholder="Ingrese marca" />
    <small *ngIf="newBrand?.invalid && newBrand?.touched" class="error">
        La marca es requerida.
    </small>
    </div>

    <!-- Mililitros -->
    <div class="form-group">
    <label for="milliliters">Mililitros</label>
    <input type="number" id="milliliters" formControlName="milliliters" placeholder="Ingrese cantidad en ml" />
      <small *ngIf="newMilliliters?.invalid && newMilliliters?.touched" class="error">
        La cantidad es requerida y debe ser mayor a 0.
    </small>
    </div>

    <!-- Contenido de alcohol -->
    <div class="form-group">
    <label for="alcoholContent">Contenido de alcohol (%)</label>
    <input type="number" id="alcoholContent" formControlName="alcoholContent" placeholder="Opcional" />
      <small *ngIf="newAlcoholContent?.invalid && newAlcoholContent?.touched" class="error">
        El contenido de alcohol es requerido y debe ser mayor a 0.
    </small>
    </div>

    <!-- Precio -->
    <div class="form-group">
    <label for="price">Precio</label>
    <input type="number" id="price" formControlName="price" placeholder="Ingrese precio" />
    <small *ngIf="newPrice?.invalid && newPrice?.touched" class="error">
        El precio es requerido y debe ser mayor a 0.
    </small>
    </div>

    <!-- Stock -->
    <div class="form-group">
    <label for="stock">Stock</label>
    <input type="number" id="stock" formControlName="stock" placeholder="Ingrese cantidad disponible" />
    <small *ngIf="newStock?.invalid && newStock?.touched" class="error">
        El stock es requerido y debe ser mayor o igual a 0.
    </small>
    </div>

    <div class="form-group">
    <label for="imageUrl">Imagen (URL)</label>
    <input type="url" id="imageUrl" formControlName="imageUrl" placeholder="Ingrese URL de la imagen" />
    <small *ngIf="newImageUrl?.invalid && newImageUrl?.touched" class="error">
        Debe ingresar una URL válida que termine en .jpg, .jpeg, .png o .gif.
    </small>
    </div>

    <!-- Botones -->
    <div class="form-buttons">
    <button type="submit" [disabled]="newBebidaForm.invalid" class="addBtn">Agregar Bebida</button>
    <button type="button" class="cancel" (click)="back()">Volver Atrás</button>
    </div>

  </form>
  }

</div>
