<nav class="sidebar">
  <ul>
    <li><a routerLink="/movementsPage">Movimientos</a></li>
    <li><a routerLink="/reportsPage">Reportes</a></li>
    <li><a routerLink="/alert">Ver alertas</a></li>
    <li><a routerLink="/usuersPage">Usuarios</a></li>
    <li><a routerLink="/addDrinkPage">Agregar Bebida</a></li>
  </ul>
</nav>
<!--
SIDEBAR HECHO POR BRI

<nav class="sidebar" [class.sidebar--open]="abierta()">

  <ul class="sidebar__links">

    <li><a routerLink="/movimientos">Movimientos</a></li>
    <li><a routerLink="/reportes">Reportes</a></li>
    <li><a routerLink="/alertas">Ver alertas</a></li>


    <li *ngIf="esAdmin()"><a routerLink="/usersPage">Usuarios</a></li>
    <li *ngIf="esAdmin()"><a routerLink="/agregar-bebida">Agregar bebida</a></li>
  </ul>
  
</nav>


<button class="sidebar__toggle" (click)="toggleSidebar()">☰</button>

-->



