/**Colores que utilizaremos en el sitio */
:root {
  --color-primario: #ff914d;     /* Naranja */
  --color-secundario: #ffffff;   /* Blanco */
  --color-fondo: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
  --color-texto: #f4f4f4;
  --color-hover: #ffa86b;
  --color-borde: #333;
  --color-error: #ff4d4d;
  --color-exito: #4caf50;
}

/**Cooper* Font Family (OFL)*/
/* Regular */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Medium Italic */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* SemiBold Italic */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ExtraBold */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold Italic */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Black Italic */
@font-face {
  font-family: "Cooper-Star";
  src: url("/assets/fonts/Cooper-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/**Estilos globales*/

html, body, app-root {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: "Cooper-Star", system-ui, sans-serif;
}

.bodyContainer {

  display: grid;
  grid-template-areas: 'Header Header'
                       'Sidebar Main'
                       'Footer Footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 15% 85%;
  min-height: 100vh;
}

.headerContainer {

  grid-area: Header;
}

.sidebarContainer {

  grid-area: Sidebar;
}

.mainContainer {

  grid-area: Main;
  overflow-y: auto;
}

.footerContainer {

  grid-area: Footer;
}

/**Estilos para el scroll global*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-primario);
  border-radius: 4px;
}